.layer:after {
    /* font: 90px/1.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
    content: "SaaS Development Services\a \a   Traveller"; */
    content: "SaaS Development Services";
    /* white-space: pre;
    text-align: center; */
    /* height: 100%;
    width: 100%; */
    /* position: absolute;
    top: 50px;
    color: whitesmoke;
    letter-spacing: -2px;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13); */
}

.layerr:after {
    content: "SaaS product development consulting";
}